/* ========== GENERAL ========== */
body {
    font-family: Roboto;
    margin: 0px;
    background-color: rgb(248, 248, 248);
}

/* ========== HEADER ========== */
.header {
    display: flex;
    height: 57px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(228, 228, 228);
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: white;
    z-index: 100;
    margin-bottom: 20px;
}

.left-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    width: 24px;
    height: 24px;
    margin: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu:hover {
    cursor: pointer;
    .toolkit {
        opacity: 1;
        bottom: -2px;
    }
}

.youtube-logo {
    width: 90px;
    height: 20px;
}

.yt-logo:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
}

.middle-section {
    border: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    max-width: 470px;
}

.searchBar {
    border-radius: 2px;
    height: 37px;
    font-size: 16px;
    flex: 1;
    width: 0px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: inset 0.2px 0.5px 1px rgba(0,0,0,0.1);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-left: 12px;
    position: relative;
}

.searchBar:focus {
    outline: none;
    border: 1px solid rgb(80, 80, 247);
}

.searchBar::placeholder {
    font-family: Roboto;
    font-size: 16px;
    color: gray;
}

.search-button {
    background-color: rgb(247, 247, 247);
    width: 66px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -6px;
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button-png {
    width: 24px;
    height: 24px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}

.voice-png {
    width: 24px;
    height: 24px;
}

.right-section {
    width: 180px;
    margin-left: 29px;
    margin-right: 22px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.right-sec-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-sec-icon {
    height: 24px;
}

.currentUser {
    height: 32px;
    border-radius: 24px;
}

.currentUser:hover {
    cursor: pointer;
}

.notif-image {
    position: relative;
    padding-bottom: -4px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.notif-count {
    font-family: Roboto;
    font-size: 10px;
    color: white;
    background-color: rgb(204, 0, 0);
    border-radius: 14px;
    position: absolute;
    top: -2px;
    right: -6px;
    padding: 1.5px 5px;
}

/* ========== SIDEBAR ========== */
.sidebar {
    background-color: white;
    position: fixed;
    left: 0px;
    top: 57px;
    bottom: 0px;
    width: 72px;
    display: flex;
    flex-direction: column;
    z-index: 200;
    padding-top: 5px;
}

.side-button {
    flex: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-button:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.side-bar-icon {
    height: 24px;
    margin-bottom: 6px;
}

.side-label {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 1px;
}

/* ========== VIDEO GRID ========== */
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    padding: 80px 20px 20px 96px;
}

.video-preview {
    margin-bottom: -8px;
}

.video-upper-part {
    position: relative;
}

.thumbnail {
    max-width: 100%;
}

.video-lower-part {
    display: grid;
    grid-template-columns: 48px 1fr;
    margin-top: 8px;
}

.channel-picture {
    width: 50px;
}

.profile-picture {
    width: 36px;
    border-radius: 18px;
}

/* Video caption */
.title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: -4px;
}

.author {
    color: rgb(96, 96, 96);
    margin-bottom: -8px;
    font-size: 12px;
}

.author:hover {
    color: rgb(27, 33, 213);
}

.stats {
    color: rgb(96, 96, 96);
    font-size: 12px;
}

.video-time {
    font-family: Roboto;
    font-size: 12px;
    position: absolute;
    bottom: 12px;
    right: 4px;
    color: white;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
}

/* ========== COMMON ELEMENTS ========== */
.video-link {
    text-decoration: none;
    color: black;
}

.toolkit {
    color: white;
    font-size: 12px;
    background-color: rgb(93, 92, 92);
    position: absolute;
    bottom: -20px;
    pointer-events: none;
    padding: 6px 8px;
    border-radius: 2px;
    opacity: 0;
    transition: 0.25s;
}

.right-toolkit {
    color: white;
    font-size: 12px;
    background-color: rgb(93, 92, 92);
    position: absolute;
    bottom: -34px;
    pointer-events: none;
    padding: 6px 8px;
    border-radius: 2px;
    opacity: 0;
    transition: 0.25s;
    white-space: nowrap;
}

.search-button:hover {
    background-color: rgb(237, 237, 237);
    cursor: pointer;
    .toolkit {
        opacity: 0.85;
    }
}

.search-button:active {
    background-color: rgb(230,230,230);
}

.voice-search-button:hover {
    background-color: rgb(237, 237, 237);
    cursor: pointer;
    .toolkit {
        opacity: 0.85;
    }
}

.voice-search-button:active {
    background-color: rgb(230,230,230);
}

.right-sec-container:hover {
    cursor: pointer;
    .right-toolkit {
        opacity: 0.85;
    }
}

/* ========== MEDIA QUERIES ========== */
@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1030px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 180px;
    }

    .sidebar {
        width: 160px;
    }

    .side-button{
        flex-direction: row;
        justify-content: left;
    }

    .side-bar-icon {
        height: 30px;
        margin-left: 10px;
    }

    .side-label {
        font-size: 14px;
        margin-left: 6px;
        padding-right: 1px;
    }

    .header{
        height: 75px;
    }
    .left-section{
        width: 210px ;
    }
    .middle-section{
        max-width: 580px;
        margin-left: 30px;
    
    }
    .right-section{
        width: 220px;
    }
     .hamburger-menu, .right-sec-icon, .search-button-png,.voice-png{
        height: 32px;
        width: 32px;
    }
    .currentUser{
        height: 40px;
        width: 40px;;
    }

    .youtube-logo{
        margin-top: -6px;
        width: 120px;
    }

    .searchBar{
        height: 45px;
    font-size: 20px;
    }
    .search-button{
height: 48px;
width: 74px;
    }

    .voice-search-button{
height: 48px;
width: 48px;
border-radius: 24px;
margin-left: 12px;
    }

}

@media (min-width: 751px) and (max-width: 1024px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
